---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { formatDate } from "@/lib/utils";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<RootLayout title={entry.data.title}>
  <MarkdownLayout>
    <div class="pb-10">
      <h2 class="mb-0">{entry.data.title}</h2>
      <span>{formatDate(entry.data.date)}</span>
    </div>
    <Content />
  </MarkdownLayout>
  <br />
  <a slot="footer-button" href="/blog" class="btn btn-primary">
    Return to Blog
  </a>
</RootLayout>
