---
import { getCollection } from "astro:content";
const blogs = await getCollection("blog");

import RootLayout from "@/layouts/root-layout.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import { ItemGroup, ItemSeparator } from "@/components/ui/item";
import BlogCard from "@/components/blog-card";
---

<RootLayout title="Blog">
  <MarkdownLayout>
    <h2>Blog</h2>
  </MarkdownLayout>

  <ItemGroup>
    {
      blogs.map((blog, idx) => (
        <>
          {idx > 0 && <ItemSeparator />}
          <BlogCard blogEntry={blog} />
        </>
      ))
    }
  </ItemGroup>
</RootLayout>
