---
import { getCollection } from "astro:content";
import formatDate from "@/lib/formatDate";
const blogs = await getCollection("blog");

import { Image } from "astro:assets";
import RootLayout from "@/layouts/root-layout.astro";
---

<RootLayout title="Blog">
  <div class="flex flex-col divide-y divide-base-300">
    {
      blogs
        .filter((blog) => !blog.data.draft)
        .map((blog) => (
          <div class="py-2">
            <a href={`/blog/${blog.slug}`} class="flex gap-2">
              <Image height={80} src={blog.data.cover} alt="cover photo" />
              <div class="flex flex-col">
                <h3 class="font-bold">{blog.data.title}</h3>
                <p class="text-sm opacity-50">{formatDate(blog.data.date)}</p>
              </div>
            </a>
          </div>
        ))
    }
  </div>
</RootLayout>
