---
import ContactForm from "@/components/contact-form.astro";
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import RootLayout from "@/layouts/root-layout.astro";
import { contacts } from "@/lib/config";
---

<RootLayout title="Contact">
  <MarkdownLayout>
    <h2>Get in touch</h2>
  </MarkdownLayout>
  <div class="card bg-base-200 p-6 shadow border border-base-300">
    <ContactForm />
  </div>
  <div class="divider">or</div>
  <section class="grid grid-cols-3 gap-3">
    {
      contacts.map(({ link, name, icon: Icon }) => (
        <a
          href={link}
          target="_blank"
          rel="noopener noreferrer"
          class="btn w-full btn-primary btn-soft"
        >
          <Icon className="size-4" />
          {name}
        </a>
      ))
    }
  </section>
</RootLayout>
