---
import RootLayout from "@/layouts/root-layout.astro";
import { getAlbums } from "@/lib/helpers";
import { cn } from "@/lib/utils";
const albums = await getAlbums();
---

<RootLayout title="Portfolio">
  <div class="columns-sm">
    {
      albums.map((album) => (
        <figure class="shadow-lg relative inline-block mb-3 ">
          <a href={`/portfolio/${album.data.slug}`}>
            <img
              class="block h-auto rounded"
              src={album.cover}
              alt={album.data.name}
            />
            <div
              class={cn(
                "flex flex-col items-center justify-center absolute bottom-0 md:top-0 w-full py-4",
                "bg-white/50 md:opacity-0 md:hover:opacity-100 transition-opacity",
              )}
            >
              <h2 class="">{album.data.name}</h2>
              <h3 class="italic text-sm">— view —</h3>
            </div>
          </a>
        </figure>
      ))
    }
  </div>
</RootLayout>
