---
import { contacts } from "@/lib/config";
---

<div
  class="w-full flex flex-col gap-8 flex-wrap items-center justify-center pb-8 pt-12 sm:pt-28"
  id="contact"
>
  <slot />

  <div class="flex flex-col gap-2 items-center">
    <div>
      {
        contacts.map((i) => (
          <a
            href={i.link}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-link btn-sm link-hover underline-offset-4 font-normal"
          >
            {i.name}
          </a>
        ))
      }
    </div>
    <div class="text-xs font-thin">
      &copy; {new Date().getFullYear()} Riley Paul
    </div>
  </div>
</div>
