---
import { cn } from "@/lib/utils";
import NavMenu from "./nav-menu";
import { getLinks } from "@/lib/helpers";

const links = await getLinks(Astro);
---

<header class={cn("bg-background sticky top-0 z-50 w-full shadow-lg")}>
  <div
    class="container2 flex flex-col justify-between md:flex-row md:items-center h-16"
  >
    <a id="logo" href="/" class="flex items-center gap-2">
      <div class="flex h-16 w-10 items-center">
        <img class="h-auto w-auto" src="/favicon.png" alt="logo" />
      </div>
      Riley Paul
    </a>

    <NavMenu links={links} client:load />
  </div>
</header>
