---
import RootLayout from "./root-layout.astro";
---

<RootLayout>
  <div
    class="prose mx-auto max-w-none prose-img:max-w-sm prose-img:mx-auto prose-img:rounded-lg"
  >
    <slot />
  </div>
</RootLayout>
