---
import "@/global.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;

import Navbar from "@/components/nav-bar";
import Footer from "@/components/footer.astro";
---

<!doctype html>
<html lang="en" data-theme="lofi">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/png" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{"Riley Paul" + (title ? ` - ${title}` : "")}</title>
  </head>
  <body>
    <Navbar client:load pathname={Astro.url.pathname} />
    <main class="py-4 container2">
      <slot />

      <Footer>
        <slot name="footer-button" />
      </Footer>
    </main>
  </body>
</html>
