---
import MarkdownLayout from "@/layouts/markdown-layout.astro";
import Gallery from "../../components/Gallery.jsx";
import RootLayout from "@/layouts/root-layout.astro";
import { getAlbums } from "@/lib/helpers";

export async function getStaticPaths() {
  const albums = await getAlbums();
  return albums.map((album) => ({
    params: { slug: album.data.slug },
    props: { album },
  }));
}

const { album } = Astro.props;
---

<RootLayout title={album.data.name}>
  <MarkdownLayout>
    <h2>{album.data.name}</h2>
  </MarkdownLayout>
  <Gallery images={album.photos} name={album.data.name} client:load />
  <br />
  <a href="/" slot="footer-button" class="btn btn-primary">
    Return to Portfolio
  </a>
</RootLayout>