---
import Gallery from "../../components/Gallery.jsx";
import { buttonVariants } from "@/components/ui/button";
import RootLayout from "@/layouts/root-layout.astro";
import { getAlbums } from "@/lib/helpers";

export async function getStaticPaths() {
  const albums = await getAlbums();
  return albums.map((album) => ({
    params: { slug: album.data.slug },
    props: { album },
  }));
}

const { album } = Astro.props;
---

<RootLayout title={album.data.name}>
  <h2 class="text-xl font-medium w-full pb-2 border-b my-6 border-base-300">
    {album.data.name}
  </h2>
  <Gallery images={album.photos} name={album.data.name} client:load />
  <br />
  <a href="/" slot="footer-button" class="btn btn-secondary">
    Return to Portfolio
  </a>
</RootLayout>
